<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897258820415-8a56mhar7atjue3009i8bg746rri0lgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897258820415-8a56mhar7atjue3009i8bg746rri0lgu</string>
	<key>API_KEY</key>
	<string>AIzaSyCoT-lZMvtjNAWHz_dT10y5Lg8Errn7fVU</string>
	<key>GCM_SENDER_ID</key>
	<string>897258820415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AppTrackWildlifeDiseases</string>
	<key>PROJECT_ID</key>
	<string>model-azimuth-236715</string>
	<key>STORAGE_BUCKET</key>
	<string>model-azimuth-236715.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897258820415:ios:3d932357c4bd896cc0798a</string>
</dict>
</plist>